<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculadora basica</title>
</head>
<body>
  <h1>Calculadora basica</h1>
  <form>
      <input type="number" placeholder="Ingrese el primer numero" id="n1" />
      <br/>
      <input type="number" placeholder="Ingrese el segundo numero" id="n2" />
      <br/>
      <br/>
      <input type="button" value="Sumar" onclick="suma()">&nbsp;
      <input type="button" value="Restar" onclick="resta()">&nbsp;
      <input type="button" value="Multiplicar" onclick="multiplicacion()">&nbsp;
      <input type="button" value="Dividir" onclick="division()">&nbsp;
  </form>
</body>
<script src="/assets/js/calculadora.js"></script>
</html>